    <div class="content-container">
        <div class="personal-container">
            <div class="personal-details-header">
                <h1>Personal Details</h1>
            </div>
            <section class="details">
                <div class="form-section">
                    <div class="email-field">
                        <div class="email-label" id="account-form">
                            <h3>Email</h3>
                        </div>
                        <div class="flex-box">
                            <div class="email-value" id="account-form">
                                <h2>{{ user.email }}</h2>
                            </div>
                            <a href="/amendments/email">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="edit">
                                    <path d="M12 20h9" />
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                                </svg>
                            </a>
                        </div>
                        <hr class="personal-divider">
                        <div class="password-label" id="account-form">
                            <h3>Password<h3>
                        </div>
                        <div class="flex-box">
                            <div class="password-value" id="account-form">
                                <h2>********</h2>
                            </div>
                            <a href="/amendments/password">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="edit">
                                    <path d="M12 20h9" />
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                                </svg>
                            </a>
                        </div>
                        <hr class="personal-divider">
                        <div class="username-label" id="account-form">
                            <h3>Username<h3>
                        </div>
                        <div class="flex-box">
                            <div class="username-value" id="account-form">
                                <h2>{{ user.username }}</h2>
                            </div>
                            <a href="/amendments/username">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="edit">
                                    <path d="M12 20h9" />
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                                </svg>
                            </a>
                        </div>
                        <hr class="personal-divider">

                        </div>
                    </div>
                    </form>
                </section>
            </div>
        </div>
</div>
