<div class="content-container">
    <div class="personal-container">
        <div class="personal-details-header">
            <h1>Change Password</h1>
        </div>
        <section class="details">
            <p>Enter old password along with your new chosen password.</p>
            <div class="form-section">
                <div class="password-field">
                    <div class="password-label" id="account-form">
                        <h3>Old Password</h3>
                    </div>
                    <form action="/amendments/password" method="POST">
                        <div class="flex-box">
                            <div class="password-value" id="account-form">
                                <input type="password" class="form-control mb-4" id="oldPassword" name="oldPassword"
                                    placeholder="Old Password">
                            </div>
                        </div>
                        <hr class="personal-divider">
                        <div class="password-label" id="account-form">
                            <h3>New Password</h3>
                        </div>
                        <div class="flex-box">
                            <div class="password-value" id="account-form">
                                <input type="password" class="form-control mb-4" id="newPassword" name="newPassword"
                                    placeholder="Password">
                            </div>

                        </div>
                        <hr class="personal-divider">
                        <div class="password-label" id="account-form">
                            <h3>Confirm New Password</h3>
                        </div>
                        <div class="flex-box">
                            <div class="password-value" id="account-form">
                                <input type="password" class="form-control mb-4" id="newPasswordConfirm"
                                    name="newPasswordConfirm" placeholder="Confirm Password">
                            </div>

                        </div>
                        <div class="btn-flex">
                            {{!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}"> --}}
                            <button class="btn btn-primary" id="submit-btn account-change" type="submit">Update
                                Password</button>
                            <a class="cancel-change" href="/account">Cancel</a>
                        </div>
                    </form>
                    {{#if error }}
                    <h4 class="alert alert-danger mt-4">{{ error }}</h4>
                    {{/if}}
                    {{#if success }}
                    <h4 class="alert alert-success mt-4">{{ success }}</h4>
                    {{/if}}
                </div>
            </div>

        </section>
    </div>
</div>
</div>
</div>