<footer id="footer">
<div class="footer-full-width">
    <div id="footer-container" class="container">
        <small class="credit">Made by Daniel Gibson</small>
        <small class="disclaimer">This is a test site for testing purposes. Prices do not reflect real-life prices.</small>
    </div>
</div>
</footer>