<div class="sidebar">
	<div class="sidebar-title">
		<p>Bookstore CMS</p>
	</div>
	<div class="sidebar-sections">
		<a href="/dashboard" class="section"{{#ifEquals section "/dashboard"}} id="active" {{/ifEquals}}>Dashboard</a>
		<a href="/books" class="section"{{#ifEquals section "/books"}} id="active" {{/ifEquals}}>Books</a>
		<a href="/users" class="section"{{#ifEquals section "/users"}} id="active" {{/ifEquals}}>Users</a>
		<a href="/orders" class="section"{{#ifEquals section "/orders"}} id="active" {{/ifEquals}}>Orders</a>
	</div>
</div>