<div class="sidebar">
	<div class="sidebar-title">
		<p>Bookstore CMS</p>
	</div>
	<div class="sidebar-sections">
		<a href="#" class="section">Dashboard</a>
		<a href="#" class="section">Books</a>
		<a href="#" class="section">Users</a>
		<a href="#" class="section">Orders</a>
	</div>
</div>