<div class="content-container">
    <div class="personal-container">
        <div class="personal-details-header">
            <h1>Wishlist</h1>
        </div>
        <section class="details">
            <div class="form-section">
                <div class="row" id="wishlist-row">
                    {{#each wishlist}}
    
                        <div class="col" id="wishlist-col">
                            <div class="book" id="{{this.title}}">
                                <img class="wishlist-img" src="/{{ this.imagePath }}">
                                <div class="wishlist-details">
                                    <div class="wishlist-title">
                                        <small><b>{{ this.title }}</b></small>
                                    </div>
                                    <div class="wishlist-author">
                                        <small>{{ this.author }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

        </section>
    </div>
</div>
</div>