<div class="content-container">
    <div class="personal-container">
        <div class="personal-details-header">
            <h1>Change Email Address</h1>
        </div>
        <section class="details">
            <p>To change the email linked to your account, please enter a new email address</p>
            <div class="form-section">
                <div class="email-field">
                    <div class="email-label" id="account-form">
                        <h3>Old Email Address</h3>
                    </div>
                    <div class="flex-box">
                        <div class="email-value" id="account-form">
                            <input type="email" class="form-control mb-4" id="oldEmail" name="oldEmail"
                                placeholder={{email}} disabled=true>
                        </div>

                    </div>
                    <div class="email-label" id="account-form">
                        <h3>New Email Address</h3>
                    </div>
                    <div class="flex-box">
                        <div class="email-value" id="account-form">
                            <input type="email" class="form-control mb-4" id="email" name="email"
                                placeholder="New Email Address">
                        </div>
                    </div>
                    <hr class="personal-divider">
                    <div class="email-label" id="account-form">
                        <h3>Password</h3>
                    </div>
                    <div class="flex-box">
                        <div class="email-value" id="account-form">
                            <input type="password" class="form-control mb-4" id="password" name="password"
                                placeholder="Password">
                        </div>

                    </div>
                    <div class="btn-flex">
                        {{!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}"> --}}
                        <button class="btn btn-primary account-email-update" id="submit-btn account-change"
                            type="submit">Update Email</button>
                        <a class="cancel-change" href="/account">Cancel</a>
                    </div>
                </div>
            </div>
            </form>
            {{#if error }}
            <h4 class="alert alert-danger mt-4">{{ error }}</h4>
            {{/if}}
            {{#if success }}
            <h4 class="alert alert-success mt-4">{{ success }}</h4>
            {{/if}}
        </section>
    </div>
</div>
</div>
</div>